.App {
  text-align: center;
}

.App-header {
  background-image: url('./img/FBoleeEUcAYczWr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: #87cefa;
}