.back {
    background-image: url('../img/desktop-wallpaper-2-cute-anime-girl-drinking-boba-anime-girl-cute-pfp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(100px + 2vmin);
    color: #87cefa;
}

.container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .container.loaded {
    opacity: 1;
    transform: translateY(0);
  }
  
  .title {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color: #1abc9c;
  }
  
  .description {
    position: relative;
    font-size: 1.5rem;
    color: #1abc9c;
  }
  

  .menu {
    position: absolute;
    bottom: 10px;
  }